.dropdownContainer {
  display: flex;
  flex-direction: row; /* keep label and select in one row */
  align-items: center; /* vertically center label and select */
  gap: 10px; /* spacing between label and select */
  min-width: 150px;
}

.label {
  color: white;
  white-space: nowrap; /* prevent label from wrapping */
  font-size: 14px;
}

.select {
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  flex: 1; /* take remaining space */
  box-sizing: border-box;
  background-color: #222c3e;
  color: white;
  border: 1px solid #f3f3f3;
}
