
.card
{
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(69, 68, 68);
    padding: 20px ;
    margin: 10px;
    text-align: center;
    min-height: 350px;
    min-width: 250px;
    max-width: 250px;
}
.card .cardImage {
    width: 100%;
    height: 200px; /* or whatever consistent height you want */
    object-fit: cover; /* ensures the image fills the space without distortion */
    border-radius: 10px;
}

.card .classTitle
{
    font-family: Arial,  sans-serif;
    font-size:  1.5em;
    color: rgb(0, 0, 0);
    margin-bottom: 2px; /* reduce or control spacing manually */
}

.card .cardText {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: rgb(0, 0, 0.3);
    max-height: 90px; /* fixed height */
    overflow-y: auto;
    padding: 4px;
    border: 2px solid rgb(190, 190, 190);
}