.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Arial', sans-serif; /* Modern font */
  background:  #1a252f;
}

.body {
  display: flex;
  flex: 1;
  transition: all 0.3s ease;
}

.main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
